---
const { onUploadClick } = Astro.props;
import Upload from "@lucide/astro/icons/upload";
---

<header
  class="w-full bg-white shadow flex items-center justify-between px-6 py-3"
>
  <a href="/" class="flex items-center gap-2 text-blue-700 font-bold text-xl">
    <img src="/favicon.svg" alt="Logo" class="w-8 h-8" />
    Asset CDN
  </a>
  <button
    type="button"
    class="flex items-center gap-1 px-4 py-2 bg-blue-600 hover:bg-blue-700 text-white rounded font-medium transition"
    onclick={onUploadClick}
  >
    <Upload size={18} /> Upload
  </button>
</header>
