---
import Header from "./Header";
import UploadStatus from "./UploadStatus";
const uploadStatus = Astro.url.searchParams.get("upload");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body class="min-h-screen bg-gray-50 flex flex-col items-center">
    <Header client:load />
    <div
      class="fixed top-6 left-0 w-full flex justify-center z-50 pointer-events-none"
    >
      <UploadStatus
        status={uploadStatus as "success" | "error" | undefined}
        client:load
      />
    </div>
    <main class="w-full flex flex-col items-center pt-20">
      <slot />
    </main>
    <script>
      if (typeof window !== "undefined") {
        const url = new URL(window.location.href);
        if (url.searchParams.has("upload")) {
          url.searchParams.delete("upload");
          window.history.replaceState({}, "", url.pathname + url.search);
        }
      }
    </script>
  </body>
</html>
